<h1 class="text-center">
  INVENTARIO PLACITA
  <!-- Card -->

<!-- Card -->
</h1>
<div class="container justify-md-center">
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <div class="card">

        <!-- Card image -->
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/50.jpg" alt="Card image cap">



          <hr>

          <p class="text-center">{{hola}}
            .</p>
          <!-- Button -->
          <a href="#" class="btn btn-primary">Button</a>

        </div>

      </div>
    </div>
    <div class="col-lg-2">

    </div>

  </div>


