<form [formGroup]="form" id="form" (ngSubmit)="save()" > <!--(ngSubmit)="save()" -->
  <div class="container row">
    <div class="col-12 text-center mt-3">
      <h1 class="text-muted"> añadir fruta </h1>
    </div>
    <div class="col-6">
      <!-- Material input -->
      <div class="md-form">
        *<input placeholder="Nombre" type="text" id="i-name" class="form-control" formControlName="name">
        <!-- <label for="i-name">Nombre</label> -->
      </div>
    </div>
      <div class="col-6">
        <!-- Material input -->
        <div class="md-form">
          *<input placeholder="Descripcion" type="text" id="i-description" class="form-control" formControlName="description">
          <!-- <label for="i-name">Nombre</label> -->
        </div>
      </div>
      <div class="col-6">
        <!-- Material input -->
        <div class="md-form">
          *<input placeholder="Precio" type="number" id="i-price" class="form-control" formControlName="price">
          <!-- <label for="i-name">Nombre</label> -->
        </div>
      </div>






</div>
</form>

<hr>
<div class="row justify-content-center mb-1">
  <button class="btn btn-light ml-1 " (click)="regresar()" >cancelar</button>
  <button type="submit" form="form" class="btn btn-success"  >guardar</button>
</div>

<!---->
