<app-navbar></app-navbar>

<div class="container">

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <router-outlet></router-outlet>
    </div>
    <div class="col-lg-1"></div>


  </div>

</div>
