<h1 class="text-center">
  FRUITS CRUD
</h1>
<div class="row">
  <div class="col-10"></div>
  <div class="col-2">
    <button type="button" class="btn btn-success" routerLink="/fruits-create">Crear</button>
  </div>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col" colspan="2">Acciones</th>

      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let fruit of oFruitsList let i = index">
        <th scope="row">{{i}}</th>
        <td>{{fruit.fruitId}}</td>
        <td>{{fruit.fruitName}}</td>
        <td>{{fruit.fruitDescription}}</td>
        <td>{{fruit.fruitPrice}}</td>
        <td colspan="2" >
          <button type="button" class="btn btn-danger btn-sm" (click)="eliminar(fruit)" >Eliminar</button>
        </td>


      </tr>

    </tbody>
  </table>

</div>
